[2015-06-26 16:54] nathwill opened #1 "0.2 TODO - Master List"
here we go! general idea in the organisation below is that things that are unique within a running system are handled as recipes, and if there's multiple something's, done as a resource.
- [x] units
  - [x] systemd_unit base resource
    - [x] drop-in support
  - [x] systemd_service resource
  - [x] systemd_socket resource
  - [x] systemd_mount resource
  - [x] sytemd_automount resource
  - [x] sy

[2015-06-26 19:48] nathwill opened #2 "TODO - systemd_unit"
- [x] option validation
- [x] ini-file creation
- [x] notify daemon-reload

[2015-06-26 19:49] nathwill opened #3 "TODO - systemd_service"

[2015-06-27 20:03] nathwill commented on #3
snagging this as well so I can test systemd_unit via a subclass

[2015-06-28 20:02] mburns commented on #1
I suspect you didn't add a space between the square brackets `[]`, which Markdown fails to convert to checkboxes.

`- [ ] foo` makes:
- [ ] foo

[2015-06-28 20:27] nathwill commented on #1
Ah, sure enough. Thanks!

[2015-07-06 00:48] #3 closed, assigned to nathwill

[2015-07-06 00:48] #2 closed, assigned to nathwill

[2015-07-10 05:26] nathwill commented on #1
@ranjib @stevendanna in the spirit of releasing early and often, i'm inclined to call our progress to date sufficient for an 0.1.0 release to supermarket, and start tackling the daemon-recipes for version 0.2.0 while collecting feedback from early adopters.

thoughts?

[2015-07-10 08:36] stevendanna commented on #1
@nathwill First, awesome work, thank you for diving into this so quickly.  Second, I totally agree.  Let's get some user feedback as soon as possible on the APIs and such since we'll have to live with them for a while.

[2015-07-10 17:44] nathwill commented on #1
my pleasure :smile: excited to put this out there and start using it and getting some feedback. https://github.com/nathwill/chef-systemd/pull/9 is super close to finished, so as soon as we've finished cleaning it up and merged it, i'll cut and upload a release :rocket:

[2015-07-11 00:47] nathwill commented on #1
0.1.1 shipped to supermarket! :tada:

[2015-07-13 23:38] nathwill opened #10 "timesyncd"

[2015-08-03 18:27] nathwill opened #11 "%i not compatible with chef 11"
this is a known issue; not sure what the market penetration for chef 12 vs chef 11 is (i'd expect pretty high in orgs that are fast-moving enough to need systemd...), but we might want to fix this for backwards compat? leaving this here for user feedback in case it's actually needed.

[2015-08-07 06:24] #10 closed, assigned to nathwill

[2015-08-13 05:48] nathwill commented on #1
@stevendanna @ranjib well, we've got a pretty good skeleton laid out for all the basics; you guys down with shipping 0.2.0?

[2015-08-14 22:34] nathwill commented on #1
@stevendanna @ranjib heads up, barring objections or discovery of any major issues, i'm planning to ship 0.2.0 tomorrow.

[2015-08-14 22:40] nathwill opened #24 "add systemd_scope resource"
tricky one as you can only create them via dbus; preliminary research indicates [ruby-dbus](https://github.com/mvidner/ruby-dbus) is currently the most complete option. if we do add a dependency on dbus, most of the current shellouts for idempotency checks should probably be replaced with dbus api calls.

[2015-08-14 22:41] nathwill opened #25 "add systemd_snapshot resource"
[snapshots](http://www.freedesktop.org/software/systemd/man/systemd.snapshot.html) are pretty cool.

[2015-08-14 22:43] nathwill opened #26 "add systemd_udev_d resource"
it'd be nice to be able to configure [udev](http://www.freedesktop.org/software/systemd/man/udev.html) rules under `/etc/udev/rules.d` via a domain-specific resource (i.e. not `cookbook_file` or `template`).

[2015-08-15 04:14] nathwill opened #29 "add systemd_sysuser resource"
low priority, as fedora seems to be the only one that has it so far, but this seems useful: http://www.freedesktop.org/software/systemd/man/sysusers.d.html

[2015-08-15 04:15] nathwill opened #30 "add systemd_netdev resources"
seems useful for more advanced network configurations http://www.freedesktop.org/software/systemd/man/systemd.netdev.html

[2015-08-15 04:35] nathwill commented on #1
https://github.com/nathwill/chef-systemd/pull/27

[2015-08-15 04:35] #1 closed, assigned to nobody

[2015-08-15 04:45] nathwill opened #31 "binfmt.d resource?"
i personally have zero use for [this](http://www.freedesktop.org/software/systemd/man/binfmt.d.html), but that example makes me think that _someone_ might :confused:

[2015-08-15 05:21] nathwill opened #32 "timesyncd recipe redundancy"
looks like i misread the docs: https://github.com/systemd/systemd/issues/798. need to dedup the enable/disable execute with the service resource.

[2015-08-15 05:38] #32 closed, assigned to nobody

[2015-08-23 02:30] ranjib commented on #25
i dont think we should support this as part of the cookbook. systemd snapshots are designed to for emergency or diagnostic uses, where `systemctl snapshot` command will be used to temporary terminate service/resource, it generates the snapshot file for restoration purpose. i could not find a lot of resource on this, except the minimal man page. i'll dig further.

[2015-08-23 02:33] ranjib commented on #25
found some info here: http://blog.fpmurphy.com/2013/09/systemd-snapshots.html

[2015-08-23 04:37] nathwill commented on #25
The articles awfully old,so I'm not sure how accurately it reflects the current state of snapshot support, but I'm totally onboard with saying we won't implement them in the cookbook, as the use case definitely seems more adhoc than something you'd actually want to do regularly.

[2015-08-23 14:16] #25 closed, assigned to nobody

[2015-09-10 05:11] nathwill opened #37 "let's not inject helper methods into recipe context"
https://github.com/nathwill/chef-systemd/blob/master/libraries/helpers.rb#L120-L121

[2015-09-10 05:45] #37 closed, assigned to nobody

[2015-09-16 21:19] bhouse opened #42 "How to write chefspec tests for LWRP's"
Hey,

Thanks for your work on this cookbook, it's very useful!

I'm trying to figure out how to write a ChefSpec test against an LWRP from `systemd`. For example:
In a recipe:

[code]

In a spec file:

[code]

[2015-09-16 21:27] ranjib commented on #42
[code]

[2015-09-16 21:29] bhouse commented on #42
:heart_eyes: amazing, thanks again!

[2015-09-16 21:29] #42 closed, assigned to nobody

[2015-09-21 22:00] #31 closed, assigned to nobody

[2015-10-01 04:56] #26 closed, assigned to nathwill

[2015-10-01 05:35] nathwill commented on #29
WIP https://github.com/nathwill/chef-systemd/pull/47

[2015-10-02 06:06] #29 closed, assigned to nathwill

[2015-10-02 06:29] nathwill commented on #24
meh; systemd-run seems to be much more interesting for this purpose, and i'd rather avoid tying directly into dbus without a more compelling use-case.

[2015-10-02 06:29] #24 closed, assigned to nobody

[2015-10-02 06:29] nathwill commented on #11
let's call it a won't fix unless we get some actual user reports of needing this.

[2015-10-02 06:29] #11 closed, assigned to nobody

[2015-10-19 18:15] nathwill opened #50 "what's left for 1.0?"
@ranjib @stevendanna wanted to see if there's any changes or enhancements in particular you guys had in mind for a 1.0 release. i've been using this cookbook pretty extensively at $JOB and am pretty happy so far with the overall resource semantics and effectiveness, so as far as i'm concerned we're ready to go.
- [x] docs (example uses)
- [x] docs (resource actions)
- [x] full set of chefspec matc

[2015-10-19 19:20] stevendanna commented on #50
@nathwill If you think this is ready to go, I say go for it.  I know a number of people are using it productively already.

[2015-10-19 19:32] ranjib commented on #50
@nathwill it will be awesome if we can ramp up the documentations. I am also seeing several bugs (like service enable does not actually start the service upon reboot), which is probably more of a systemd issue.
finally, if we can document a section on readme regarding how this compares with the core service resource with systemd as provider.
none of these are blocker, but having docs will be aweso

[2015-10-19 19:34] ranjib commented on #50
btw, i have only tested it on my raspberry pi cluster, running ubuntu 15.04/systemd -219.
another thing i was wondering is, how we plan to maintain directive compatibilities across systemd versions. new binaries are also being added with newer versions of systemd

[2015-10-19 19:56] nathwill commented on #50
thanks for the quick feedback guys :)

@stevendanna cool, thanks.

@ranjib i just did a big doc overhaul to fill them out some more, though there's still definitely lots more to do... i'm curious about the service enable not starting service on boot, are these services that are 'static' in the `systemctl status xyz.service` command before chef 'enables'? there's some state handling in the provider

[2015-10-20 05:09] nathwill opened #52 "crypttab resource"

[2015-10-20 05:53] nathwill commented on #52
eeeeh... after some more reading, there's nothing particularly systemd-ish about this... just some utilities about consuming the config, nothing special about the management

[2015-10-20 05:53] #52 closed, assigned to nobody

[2015-10-20 13:42] stevendanna opened #54 "Support --enable-split-usr"
I haven't been able to dig deeply into this yet, but I'm opening this as a placeholder.  Ubuntu 15.04 compiles systemd with `--enable-split-usr` which means that some things will be found in `/lib/systemd` rather than `/usr/lib/systemd`.  This looks like it might affect the udevd recipe; however, we have testing on 15.04 around that platform so I might be missing something.

[2015-10-20 15:17] nathwill commented on #54
nice find @stevendanna , confirmed this is an issue for the udevd recipe, systemd-udevd and other systemd-xyz binaries are under /lib/systemd, and not under /usr/lib/systemd...

[2015-10-20 15:40] nathwill commented on #54
and from the sound of it, Ubuntu's not in any hurry to implement the /usr merge, so we should definitely plan to accommodate split usr.

[2015-10-22 05:29] #54 closed, assigned to nathwill

[2015-10-22 07:58] stevendanna commented on #54
Thanks!

[2015-10-24 22:27] nathwill commented on #50
alright, cutting 1.0 in https://github.com/nathwill/chef-systemd/pull/57

[2015-10-24 22:27] #50 closed, assigned to nobody

[2015-10-25 12:15] stevendanna opened #58 "`kitchen test units-ubuntu-1504` fails intermittently"
About every-other time I run `kitchen test units-ubuntu-1504` , it fails with the following:

[code]

[2015-10-25 14:55] nathwill commented on #58
This is a vagrant thing iirc, are you using the latest version?

[2015-10-25 15:12] nathwill commented on #58
aw yes, here it is: https://github.com/mitchellh/vagrant/issues/5673

[2015-10-25 16:43] stevendanna commented on #58
@nathwill d'oh. Thanks!

[2015-10-25 16:47] nathwill commented on #58
no prob, i only knew this one because it's bit me several times in recent months :D. i'll close this out for now, but feel free to re-open if this turns out to be tied to this cookbook specifically.

[2015-10-25 16:47] #58 closed, assigned to nobody

[2015-10-26 05:29] nathwill opened #59 "systemd_nspawn_container resource"
this would be suuuuper neat to provide as a resource.

[2015-11-05 03:24] nathwill opened #60 "network units"
http://www.freedesktop.org/software/systemd/man/systemd.network.html

[2015-11-05 03:25] nathwill opened #61 "presets"
http://www.freedesktop.org/software/systemd/man/systemd.preset.html

[2015-11-09 22:55] nathwill opened #64 "add unit mask, unmask action"
somehow missed this in the initial build-out, should be pretty straight-forward to implement

[2015-11-10 01:03] nathwill opened #68 "systemd-run execute-style resource?"
technically it's  already possible to use systemd-run via the existing execute resource, but it might be nice to provide a systemd-run resource that supported the exec and resource-control attributes along with the usual execute stuff.

[2015-11-10 03:26] ranjib commented on #68
yeah,, i was reading about it more. specially for cgroup enforcement etc. assuming we can use those directives against systemd-run

[2015-11-11 03:43] nathwill commented on #68
yep! the docs aren't overly obvious about it, but we should be able to do that with `--property=NAME=VALUE` (e.g. `systemd-run -p BlockIOWeight=10 updatedb`).

[2015-11-11 23:37] nathwill opened #70 "target units should have a set_default action"
make it really easy to set a new default target

[2015-11-11 23:39] nathwill opened #71 "add unit preset action"
reset unit to enable/disable state based on presets

[2015-11-13 02:59] nathwill commented on #64
resolved in https://github.com/nathwill/chef-systemd/pull/72

[2015-11-13 05:35] #64 closed, assigned to nathwill

[2015-11-13 05:46] nathwill commented on #59
nifty, nspawn containers support unit file definitions (only after v226): http://www.freedesktop.org/software/systemd/man/systemd.nspawn.html

[2015-11-13 23:08] nathwill commented on #70
https://github.com/nathwill/chef-systemd/pull/75

[2015-11-15 20:24] #70 closed, assigned to nobody

[2015-11-19 14:46] bheuvel commented on #11
Hi @nathwill , I just ran into this issue. Problem is that servers here are deployed by default with a Chef11 client, upgraded with Omnibus to 12. Problem is that this cookbook already breaks at compile phase, even before the omnibus resource can run.

Created PR #76 which replaces code which I ran into, and works on my machine :wink:

But if one/my report is not enough, perhaps you could mention

[2015-11-19 18:07] nathwill commented on #11
@bheuvel thanks so much for the PR! i just merged it and things LGTM, so i released your changes as version 1.1.1, which is now on the supermarket. let us know if you run into any other trouble!

[2015-11-19 18:47] bheuvel commented on #11
@nathwill thanks so much for the quick response and release :smiley:! Thanks to this quick release I can use this immediately without (temporary) workarounds!

[2015-11-19 18:54] nathwill commented on #11
:boom:

[2016-02-03 20:01] boldandbusted opened #83 "coredumps not (fully?) configured"
Howdy. I need to enable core dumps on my CentOS 7.1 system. I have this stanza being applied from chef (after including chef-systemd):

[code]

And the kitchen/vagrant run (Edited, let me know if you need more):

[code]

And my stanza in my recipe:

But, no core files are generated:

[code]

Any ideas? Thanks! :) If you need more info or experiments, glad to help.

[2016-02-03 20:09] boldandbusted commented on #83
Oh, FYI, I had been going down this road before I found that this cookbook has this capability via Systemd:

http://www.kibinlabs.com/re-enabling-core-dumps-redhat-7/

[2016-02-03 20:45] nathwill commented on #83
hi @boldandbusted,

thanks for the issue report!

yeah, the `systemd_coredump` resource is currently limited to just configuring the systemd-coredump utility via the config file, though i agree it would be really nice if we provided a way to go further and fully enable coredumps on a system (probably via a recipe).

from reading that article, it sounds like the likely missing piece is the `LimitCo

[2016-02-03 22:24] boldandbusted commented on #83
:+1: :cake:

[2016-02-25 18:30] nathwill opened #84 "drop_in's don't always enforce 'override' requirement"
this is likely a common mistake, and the validation's broken:

[code]

this should blow up because `drop_in` is true, but `override` isn't specified, but it's getting through.

the result is that we end up with a bogus drop-in path of `/etc/systemd/system/.service.d/jenkins.conf`... gross.

[2016-03-08 08:01] nathwill commented on #71
dupe of #61

[2016-03-08 08:01] #71 closed, assigned to nobody

[2016-03-11 07:04] nathwill commented on #68
this is merged.

[2016-03-11 07:04] #68 closed, assigned to nobody

[2016-03-11 07:06] nathwill opened #85 "move resource namespacing out of `Chef`"
we should stop crowding the `Chef` namespace, and move our resources to our own. This is almost certainly a requirement for adding solid systemd support to Chef-core

[2016-03-25 03:50] #85 closed, assigned to nathwill

[2016-03-26 06:21] nathwill opened #87 "systemd dbus api"
leaving this here for future reference...

relies on https://rubygems.org/gems/ruby-dbus. this shows getting at a specific unit, but it's actually faster to do most of this via the manager object.

See also:    http://0pointer.de/blog/the-new-sd-bus-api-of-systemd.html

[code]

[code]

[2016-03-26 06:35] ranjib commented on #87
:-)  :heart:
how you want to go for it?  move all systemd cli calls to dbus calls , feature gate it with a common resource attribute ..

[2016-03-26 06:36] ranjib commented on #87
btw .. we can offer containers straight up if we have dbus, using transient scopes (systemd-run uses that)

[2016-03-26 06:42] nathwill commented on #87
@ranjib yeah, i think replace all systemctl shell-outs with dbus calls, and ideally also do property definitions on-the-fly by introspecting the unit, unit-type's interfaces, e.g.:

[code]

suddenly, self-updating resources!! :joy_cat:

[2016-03-26 06:53] nathwill commented on #87
Also, +1000 on offering containers.

[2016-03-26 17:53] nathwill commented on #87
more docs for reference:

[code]

[2016-03-27 04:38] nathwill commented on #87
so this is actually less useful than i'd initially hoped... :disappointed:

it looks like the methods on the manager and unit objects are pretty good for unit lifecycle management, but basically all of the properties on the unit objects are read-only, so you're not really able to program the unit configuration through the bus (though maybe it's interesting for populating state attrs vs writing our

[2016-03-27 05:35] ranjib commented on #87
@nathwill  right. We dont edit units via the dbus API, unit file handling is still done by the current implementation. DBus API will only replace the shell execs. For transient scope units (containers, systemd run style stuff) we get to set the initial set of properties :-) , and they dont have any file counterpart.

[2016-04-21 15:07] nathwill opened #89 "explore a systemd_drop_in resource"
i'm not super pleased with how the drop_in property plays out on our current resources. it's kind of opaque and confusing (e.g. 'override', and 'overrides'), and has ordering issues for how the properties are declared (e.g. #84). plus, `systemd_service[my-override]` is just wrong (i.e. "my-override" isn't a service unit)

i'm not 100% on it yet, but something like:

[code]

with a drop_in_name ide

[2016-05-24 20:02] nathwill opened #92 "refactor on chef-core's systemd_unit"
we should get rid of systemd_unit and refactor to extend the type-specific units from chef-core's resource instead of carrying our own identically named resource.

[2016-06-27 20:32] nathwill opened #93 "missing chefspec matcher for systemd_sysctl apply action"

[2016-07-22 22:55] nathwill commented on #92
see wip PR: https://github.com/nathwill/chef-systemd/pull/94

[2016-08-26 02:06] mfischer-zd opened #95 "Allow user to specify rendered file mode"
systemd configuration files can contain sensitive information (e.g. secret keys in the environment or other places).  Allow the user to specify a file mode (e.g. `'400'`) when declaring a unit.

[2016-08-26 02:13] nathwill commented on #95
in general my approach for environment stuff is to use `EnvironmentFile` and configure that with appropriate permissions. you can do environment interpolation in the systemd unit if the sensitive data needs to be passed as part of another directive, using something like:

[code]

that said, i'm certainly open to the idea of making the unit file permissions configurable as well. you interested in t

[2016-08-26 14:56] mfischer-zd commented on #95
I agree that that the above pattern is more idiomatic.  This is a low-priority request for that reason.

[2016-09-01 00:36] mfischer-zd opened #96 "Can't declare dependencies on interfaces or devices"
It is perfectly legal to depend on a `netdev`, `network` or `device` unit in systemd, but this cookbook doesn't like it:

[code]

Also, the error message is nonsensical.

[2016-09-02 07:01] nathwill commented on #96
👍 nice catch.

[2016-09-09 04:46] #96 closed, assigned to nobody

[2016-09-21 19:03] nathwill commented on #89
see wip PR: #94

[2016-09-21 19:03] nathwill commented on #84
see wip PR: #94

[2016-09-22 18:29] #93 closed, assigned to nobody

[2016-10-18 23:35] #92 closed, assigned to nobody

[2016-10-18 23:35] #89 closed, assigned to nobody

[2016-10-18 23:37] nathwill commented on #87
wrote this up as a library: https://rubygems.org/gems/dbus-systemd, which the upcoming v3 release of this cookbook uses.

[2016-10-18 23:37] #87 closed, assigned to nobody

[2016-10-18 23:37] nathwill commented on #84
this is fixed in the upcoming v3 release by making drop-in's a separate resource type.

[2016-10-18 23:37] #84 closed, assigned to nobody

[2016-10-18 23:38] nathwill commented on #61
there's really no value added here when comparing this to the file resource (except for maybe making them more visible to consumers), so closing this as wont-fix

[2016-10-18 23:38] #61 closed, assigned to nobody

[2016-10-18 23:40] nathwill commented on #83
so after thinking about this some more, i think configuring the system for coredumps is ultimately out of scope. this cookbook and chef itself provide the primitives needed to customize coredump behavior, but actually combining it all in a platform-agnostic way goes well beyond the scope of 'systemd' things, so closing this as wont-fix

[2016-10-18 23:40] #83 closed, assigned to nobody

[2016-10-18 23:41] nathwill commented on #60
done in upcoming v3 release

[2016-10-18 23:41] #60 closed, assigned to nobody

[2016-10-18 23:42] nathwill commented on #59
see `systemd_nspawn`, `systemd_machine`, and `systemd_machine_image` resources in upcoming v3 release, which together provide everything you need to run systemd-native containers via systemd's importd, machined, and built-in `systemd-nspawn@.service` primitives

[2016-10-18 23:42] #59 closed, assigned to nobody

[2016-10-18 23:42] nathwill commented on #30
done in upcoming v3 release

[2016-10-18 23:42] #30 closed, assigned to nathwill

[2016-10-18 23:45] nathwill commented on #95
solution for this is going to need to happen upstream on the chef-core `systemd_unit` resource, as we've upstreamed a generic unit resource a while back. closing this issue straight away, but i'll be opening a PR on chef-core momentarily.

[2016-10-18 23:45] #95 closed, assigned to nobody

[2016-12-20 16:07] chewi opened #100 "Allow multiple instances of the same option"
It is quite common in systemd to need to state the same option multiple times, such as `ListenStream` in a socket file. Unless I'm mistaken, the cookbook currently doesn't provide a way to do that. Array values are simply joined with a space, which is arguably less useful, though I suppose it could help when deep merging attributes. I can't think of any other intuitive syntax, short of making the

[2016-12-20 17:57] nathwill commented on #100
yeah, that's about the short of it, as things stand. best strategy for now is to use multiple drop-in resources. systemd does lexically-ordered file loading, so if order matters, you can name/number the drop-ins accordingly.

[2016-12-20 18:03] chewi commented on #100
Thanks for the suggestion, hadn't considered that.

[2017-04-18 18:29] Suman-Plivo opened #102 "How can I pass params to :enable"
Is it possible to pass params to :enable action. Like i want to enable multiple services by doing "systemctl enable service_name@{1..4}.service". This will enable 4 services simultaneously with the names service_name@1.service, service_name@2.service, service_name@3.service, service_name@4.service. Can this be done in chef recipe, other than executing inside bash service.

[2017-04-18 22:52] nathwill commented on #102
i wouldn't think so, though it should be easy to test. iirc, the `{1..4}` syntax relies on bash expanding the argument before the command is executed (i.e. bash expands `systemctl enable blah@{1..4}.service` to `systemctl enable blah@1.service blah@2.service blah@3.service blah@4.service` before the arguments are passed to the `systemctl` binary), and i'm fairly sure once the arg gets passed into

[2017-04-18 22:52] #102 closed, assigned to nobody

[2017-04-18 22:52] #100 closed, assigned to nobody

[2017-05-29 20:15] dragonsmith opened #103 "new systemd_service syntax conflicts with chef-sugar cookbook"
Hello,
We found out that your new refactored syntax is being broken by chef-sugar cookbook. More precisely by this method: https://github.com/sethvargo/chef-sugar/blob/master/lib/chef/sugar/filters.rb#L148

if we add `chef-sugar` to our run_list or as a dependency than the following example code will fail:

[code]

with the following error:
[code]

which is raised by the 4th line from the example.

[2017-05-30 19:27] nathwill commented on #103
thanks for the heads up @dragonsmith (and for doing early testing!) i'll play around with this a bit and see if i can find a solution.

[2017-06-05 15:28] nathwill commented on #103
wild... so for now, you can work around this by using the long-form (i.e. `unit_after`/`unit_before`):

[code]

and i'm kind of inclined to leave this there and send this to chef-sugar as a bug at this point...

[2017-06-05 17:47] nathwill commented on #103
well, after a little bit of futzing around, i think i found a way to prevent the method_missing hijinks from letting the resource find chef-sugar's before/after methods before trying `unit_before`, `unit_after`... https://github.com/nathwill/chef-systemd/pull/94/commits/4d2ede2cb282ca674b6218905acc16687d7ac3f9

[2017-07-15 16:13] #103 closed, assigned to nobody

[2017-07-17 09:36] jklare opened #104 "implicit argument passing of super from method defined by define_method() is not supported. Specify all arguments explicitly."
Hi,

after upgrading the systemd cookbook from 2.1.3 to 3.0.0 i get this runtime error:

 RuntimeError
  ------------
  implicit argument passing of super from method defined by define_method() is not supported. Specify all arguments explicitly.

 Cookbook Trace:
  ---------------
    /var/chef/cache/cookbooks/systemd/libraries/mixin.rb:36:in `block in build_dsl'
...cut...

Relevant File Content:

[2017-07-17 10:38] florian-asche commented on #104
Same issue here.

[2017-07-17 12:50] grogancolin opened #105 "3.0.0 - cannot load such file -- dbus/systemd/machined"
Since updating to 3.0.0 - we've had some cookbooks fail to run with:

[code]

[2017-07-17 15:31] nathwill commented on #104
interesting, can you provide your chef version & example(s) of the relevant use of systemd-cookbook provided resources?

[2017-07-17 15:34] nathwill commented on #105
hmmm, so this cookbook uses the 'gem' method in the metadata to install the dbus-systemd gem, which seems to be the issue here. i'm guessing you're using an older version of chef? i believe this should be resolvable by doing a compile-time installation with a chef_gem resource for dbus-systemd, or upgrading to a chef version that supports the gem method during the metadata parsing.

let me know if

[2017-07-17 16:32] nathwill commented on #104
pushed a fix in 3.0.1, wanna give it a shot?

[2017-07-17 16:39] nathwill commented on #105
i'm updating our metadata to specify that we require a chef_version >= 12.8.1, which is when the [gem metadata support](https://github.com/chef/chef/pull/4478) was added to chef core

[2017-07-18 11:38] mpires commented on #105
Weird, I'm getting the same issue running with Chef 13.2.20, with `systemd` 3.0.1
[code]

[2017-07-18 11:40] mpires commented on #105
With systemd 3.0.1
[code]

[2017-07-18 15:03] nathwill commented on #105
@mpires how have you installed chef? if omnibus, can you share the gem list? (`/opt/chef/embedded/bin/gem list | grep systemd`). trying to find a reproduction case here

[2017-07-18 15:12] mpires commented on #105
Hi @nathwill that command yields no results. I have to apologize for this false positive, this is most definitely due to my own private servers not having the dbus-systemd available.
You can close it, sorry again.

[2017-07-18 15:23] nathwill commented on #105
no worries at all. fwiw, my understanding is that if you are using a new chef version, chef is supposed to automatically install the gem during the compile phase of a chef run since the metadata for this cookbook specifies dbus-systemd as a requirement. that seems to be born out by the integration testing, so i'm not really sure why it wouldn't be happening for you.

of course, if you're trying to

[2017-07-18 15:23] #105 closed, assigned to nathwill

[2017-07-19 12:29] jklare commented on #104
Thanks for the fast response, but i think this did not fix it. Now the "resource name" is handed over in "*args", which then again leads to an undefined method.

[2017-07-19 15:13] nathwill commented on #104
@jklare huh. can you advise as to which chef version you're using, and any reproduction steps? i'm not seeing this problem at all when running the unit/integration tests, so it's hard to test for.

[2017-07-19 15:36] jklare commented on #104
@nathwill i am currently using the systemd resource still in its pre v3 style (which is why i did not post the full thing instantly). The resource which works with v2 looks like this:

[code]

Since the argument/attribute "description" (was moved to unit_description i guess) does not exist anymore in chef-systemd v3, i would expect it to fail with something like this:

[code]

With the current ver

[2017-07-19 15:52] nathwill commented on #104
good catch, thanks for the PR. i'll drop this in 3.0.2

[2017-07-19 15:52] #104 closed, assigned to nobody

[2017-07-21 07:11] csghuser opened #109 "3.0.2 compile error with chef 12.5.1"
Thank you for creating and maintaining this cookbook.

Since the systemd cookbook was updated, we are now seeing the following issue with chef 12.5.1:

[code]
Is this version of chef still supported?

[2017-07-21 15:38] nathwill commented on #109
not in version 3 of the cookbook, no. the systemd_unit resource that underpins version 3 didn't make it into chef core until 12.11.

[2017-07-21 15:38] #109 closed, assigned to nobody

[2017-07-28 14:05] acranox opened #110 "where did the service overrides functionality move to?"
In version 2.1.3 of the cookbook, a systemd service had an option for overrides that reset the variable from any prior assignments.  (see comment below from the README)
it is unclear how to replicate this functionality in the 3.0.x cookbook.

[code]

[2017-08-01 03:21] nathwill commented on #110
@acranox the overrides were moved to a separate resource `systemd_service_drop_in`. there's a mapping of the override resources [here](https://github.com/nathwill/chef-systemd#units--unit-drop-ins), and the specifics for the [service unit type drop-ins](https://github.com/nathwill/chef-systemd#systemd_service_drop_in).

hope that helps, let me know if you have other questions!

[2017-08-01 17:51] acranox commented on #110
What I need is output that looks like the one below.
The line with the empty assignment is necessary.  I'm not seeing how to do this with the new cookbook.  I've tried a few things with no luck.  If it's possible, maybe it could just be more clearly documented in case I'm not the only clueless person out there.

[code]

[2017-08-01 20:02] nathwill commented on #110
oooh, `overrides` vs `override`... sorry, i misunderstood.

i believe this may have been mistakenly dropped during the rewrite... as an interim solution, systemd loads drop-ins in lexical order, so a reset can be achieved by using 2 resources and naming the reset drop-in resource such that it's loaded first. i'll take a look at adding this back in for a 3.1.0 ASAP.

i'd also like to rename the pro

[2017-08-01 20:18] acranox commented on #110
I'm glad to hear it wasn't my lack of skills that was preventing me from getting it to work.
I don't care what you call it.  I have to re-work my cookbooks to use this new version, so I won't be reusing code anyhow.
'reset' seems consistent with what the [systemd docs](https://www.freedesktop.org/software/systemd/man/systemd.service.html) describe: `If the empty string is assigned to this option,

[2017-08-04 16:20] nathwill commented on #110
@acranox shipped a solution in 3.1.0, holler if that doesn't work for ya.

[2017-08-04 16:20] #110 closed, assigned to nathwill

[2017-08-22 02:06] domingosnovo opened #112 "Cookbook creating unit files in the wrong location"
Normally the `systemd_service` resource will create unit files in the right location (that is, `/etc/systemd/system/<service_name>.service`).

But, if a service is configured to run as a specific user (by defining the directive `user <some_user>`) it will create the unit file in `/etc/systemd/user/<service_name>.service` instead.

The problem is, Systemd will not bother to search for unit files in

[2017-08-22 02:16] domingosnovo commented on #112
I am of the opinion that you don't need to write the unit file to `/etc/systemd/user`, and it is enough to just add `User=<my-user>` to the unit file (while still writing it to `/etc/systemd/system`), since this is the location systemd expects to find services running upon boot.

Another possibility is to use the full path of the unit file when defining a user in the chef resource, as it will allo

[2017-08-28 15:32] nathwill commented on #112
sorry for the slow response, i've been away on vacation.

you should use the `service_user` property directly for this; using `user` inside the service block never reaches `service_user` property via the method_missing rescue, because `systemd_unit` resource has a `user` property for systemd's user services (not all systemd instances are pid-1 system instances).

hope that helps explain what's goi

[2017-08-28 15:32] #112 closed, assigned to nobody

[2017-08-29 11:56] Annih commented on #105
Hello @nathwill

The reported bug seems to be related to a ChefSpec environment.
I also encountered the same kind of issue. Chefspec is not handling properly the Gem dependencies defined in cookbook's metadata (chefspec/chefspec#871)

But I think we could find a solution to reduce the impact from the chef-systemd cookbooks.

I'll open a PR.

[2017-09-13 12:59] tiago-cruz-movile opened #114 "knife 12.5.1: uninitialized constant Chef::Resource::SystemdUnit"
- Red Hat Enterprise Linux Server release 6.3
- Cookbook systemd 3.1.1

*OK*:  Chef: 12.20.3
*ERROR*: Chef: 12.5.1

[code]

[2017-09-13 15:41] nathwill commented on #114
yes; you'll need a newer version of Chef that includes `Chef::Resource::SystemdUnit`. We [require](https://github.com/nathwill/chef-systemd/blob/master/metadata.rb#L8) Chef >= 12.11. If you can't do that, you can just pin to systemd cookbook v2.x.

[2017-09-13 15:41] #114 closed, assigned to nobody

[2017-10-10 14:29] chewi opened #115 "verify property not respected under Chef 12"
The `verify` property is passed through to the underlying `systemd_unit` resource but this is not respected under Chef 12. You fixed this for Chef 13 in chef/chef@b7240ac35dfce9cea8a298ee633ccd356c7dbeca but this was never backported. This cookbook is supposed to work with 12 so can this be resolved somehow? I have a socket/service pair and one won't verify without the other.

I did try to edit th

[2017-10-10 15:41] nathwill commented on #115
@chewi thanks for the report. can you provide some sample code that replicates the issue and i'll take a look?

[2017-10-11 09:13] chewi commented on #115
This will fail under Chef 12.21 but work under 13.

[code]

[2017-10-11 15:59] nathwill commented on #115
@chewi ok, great, thanks, I can replicate, i'll poke around a bit.

in the meantime, can i ask more about what you're trying to accomplish?

in my experience, it's unusual to see a service unit require a socket, since the socket is just a kind of light-weight proxy for the on-demand activation of the service... without the `Requires=` defined on the service unit, this works on Chef 12 after revers

[2017-10-11 16:11] chewi commented on #115
I must admit that this is code I wrote a year ago and I didn't stop to reconsider whether adding `Requires=` is the right thing to do. I don't recall whether I did it for a specific reason or whether it just seemed like a good idea. If this isn't best practise then I'll stop.

[2017-10-11 16:40] nathwill commented on #115
OK, if there's no particular reason to have it, removing `Requires=` is definitely a solution. My approach is usually to create the service unit first, but neither enable or start it, and then create/enable/start the socket unit. That ordering lets one avoid dependency-based verification failures for socket units.

[2017-10-11 16:40] #115 closed, assigned to nobody

[2017-10-20 00:20] dbresson opened #116 "No longer supporting repeated directives"
Some directives, like ExecStartPre can appear multiple times. It appears with version 3 of this cookbook that is no longer supported.

[2017-10-26 16:26] jacbib-adsk commented on #116
I'm noticing this in my work too.  Would really appreciate seeing a fix!

[2017-10-27 18:44] mattlqx opened #117 "Stack level too deep when using systemd_* resources in a custom resource"
It looks as though the dynamic evaluation of the blocks within a systemd_* resource doesn't play well with new_resource usage in a custom resource in cookbook version 3.x.

Example code within a custom resource...
[code]

Will produce something like this snippet of stack trace:
[code]
Where line 47 of the custom resource is the description line.

Setting an intermediary variable outside the resour

[2017-10-30 19:38] nathwill commented on #116
please correct me if i'm wrong, but i believe you can solve this with:
- drop in units (lexical ordering)
- the `precursor` property (see https://github.com/nathwill/chef-systemd/pull/111)

[2017-10-30 19:43] nathwill commented on #117
man, that's wild 😱 . thanks for the report! i'll take a look at this and see if i can find a workaround, as that's obviously less than desirable...

[2017-10-31 18:21] #116 closed, assigned to nobody

[2017-10-31 22:17] #117 closed, assigned to nathwill

[2017-10-31 22:19] mattlqx commented on #117
Thanks for the quick fix 👍🏻

[2017-10-31 22:20] nathwill commented on #117
@mattlqx just published to supermarket as 3.1.2, give it a go!

[2017-11-14 21:18] petracvv opened #121 "LimitInterval Compatibility Options"
At some point systemd renamed their `LimitInterval` options to have the `LimitIntervalSec` form (https://github.com/systemd/systemd/commit/f0367da7d1a61ad698a55d17b5c28ddce0dc265a).

However, certain enterprise distributions such as CentOS7 are using a version of systemd before this change. Since this cookbook is using the new name, I cannot configure the any of the `LimitInterval` options because

[2017-11-14 22:35] nathwill commented on #121
@petracvv yeah absolutely. in cases where an option has been renamed, including both in the cookbook works perfectly fine, as we only inject the one specified by the user. don't worry about submitting a PR, i've got some time set aside today to work on some other things on this cookbook, and can work this into it while i'm at it.

thanks for flagging this!

[2017-11-14 23:05] petracvv commented on #121
Thanks! I can help with any testing if you need it.

[2017-11-15 01:01] nathwill commented on #121
fixed at https://github.com/nathwill/chef-systemd/pull/122

[2017-11-15 16:13] #121 closed, assigned to nobody

[2017-12-19 23:33] azuretek opened #124 "Editing systemd_service in recipe doesn't trigger a systemctl daemon-reload"
I'm writing a recipe that creates a `systemd_service` and ran into a problem. I thought it was working fine but then I had to make a change to the `systemd_service` resource and noticed it didn't trigger a `systemctl daemon-restart` execution after updating the resource. I have `triggers_reload` set to true but as far as I can tell this only has any effect when creating and deleting resources.

[2017-12-21 17:02] nathwill commented on #124
@azuretek can you provide a sample resource (original and changed version) so we can replicate?

[2018-01-03 22:06] hugo-cisneiros-movile opened #125 "Service properties not working inside resource drop-ins"
I updated the cookbook version to 3.1.5 and began to get some syntax errors.

For example, when I use properties `user` and `group` inside the `service`, I get an error.

Example:
[code]

Error:

[code]

When I use the properties outside the `service` property, it works:

[code]

Should the `user` and `group` work inside the property?

Also, I had to change every resource that has `description` (u

[2018-01-03 22:26] nathwill commented on #124
daemon-reload is only necessary when the on-disk unit representation has changed. per the description, that happens (i.e. create/delete actions), so barring further clarification, closing this as a non-issue.

[2018-01-03 22:26] #124 closed, assigned to nobody

[2018-01-03 22:33] nathwill commented on #125
yeah, the mapping from #user to #service_user inside the service block relies on the [method_missing functionality](https://github.com/nathwill/chef-systemd/blob/master/libraries/mixin.rb#L32-L38). so, unfortunately, properties that exist on core chef resources or the systemd_unit resource don't trip the method_missing redirect of the user property call, necessitating the use of the full service_u

[2018-01-03 22:37] nathwill commented on #125
as for description, that would need to go inside a unit block (like the service block) or be called as "unit_description" like you noted.

the reason for the change in v3+ is that some unit properties are duplicated within different sub-sections of the same unit type (particularly in the networking related unit types), so the only proper way to handle it is to require sub-section specification in

[2018-01-11 00:43] kelleyk opened #126 "Bridge netdev expects VLAN ID"
I'm trying to replace the following `netdev` configuration file with a `systemd_netdev` resource.  All that it does is set a static, locally-administered hardware address for a bridge device.

[code]

Here's the equivalent Chef resource that I've come up with.
[code]

When I run Chef, I get a validation error insisting that `vlan_id` must be set.  However, per `systemd.netdev(5)`, the `[VLAN]` sec

[2018-01-11 00:54] nathwill commented on #126
great catch @kelleyk, thanks for filing this. i think we'd be better off relaxing the requirement, as i don't think we can guarantee that the kind has been set before the vlan_id, and introducing ordering dependencies on the resource properties seems like a pain. do you want to file a PR?

[2018-01-11 00:58] kelleyk commented on #126
I'm not particularly fluent in either Ruby or Chef, but I'm happy to take a whack at it; let me see what I can come up with.

[2018-01-11 01:01] nathwill commented on #126
okey doke. i'm heading out for the night, but if you get stuck, let me know and i can get a patch submitted and a new release cut first thing in the morning.

[2018-01-19 00:59] #126 closed, assigned to nobody

[2018-01-19 01:23] nathwill commented on #125
so i did some looking around and talked with the inestimable Noah K, and he gave me some pointers on how to fix this. i'm not sure when exactly i'll have the time to sit down and rework this part of the resource, but for now i'll flag this as a bug and try to prioritize some time to fix this asap.

[2018-01-19 05:06] nathwill commented on #126
this is out in 3.1.6, thanks again for the report!

[2018-01-19 18:22] kelleyk commented on #126
Thank _you_ for the prompt fix!

[2018-01-21 06:07] cyrille-polymtl opened #129 "multiple exec_start_pre"
I want to be able to have multiple exec_start_pre defined for my services, however, the documentation say it is a string, and in my test it seems to take only the last entry.
Is there an easy hack ? or should I create two services with dependencies ?

[2018-01-21 06:40] nathwill commented on #129
yeah, the limitation is irritating, but fortunately easy to work around. systemd drop-ins use lexical ordering, so the way i've been solving this is to create a series of drop-ins:

[code]

there's also the `precursor` property, so you can also do something like:

[code]

the precursor property is also on the non-drop-in unit resources, so if you have your own unit defined and you're not using dro

[2018-01-22 01:11] cyrille-polymtl commented on #129
Hi,
Thanks for the answer,
my chef/ruby didn't like the compare_by_identity, something it doesn't have or understand.
but I was able to use the 'drop_in' to add my extra service_exec_start_pre.

[2018-01-22 19:09] #129 closed, assigned to nobody

[2018-01-22 23:31] nathwill commented on #125
@hugo-cisneiros-movile so i just pushed a solution for this in 3.2.0, do you want to give it a try?

[2018-01-23 00:12] #125 closed, assigned to nathwill

[2018-04-16 17:58] gevorg15 opened #131 "compat_resource dependency deprecated"
The compat_resource cookbook as been deprecated and the author has archived the repo on GitHub.

Can we bump the minimum chef version to 12.19 and remove the dependency on compat_resource?

[2018-04-16 18:19] nathwill commented on #131
👍

[2018-04-16 21:02] donaldgifford commented on #131
👍

[2018-04-16 21:58] nathwill opened #133 "precursor compare_by_identity broken"
resetting with precursor seems broken

[2018-04-16 22:13] nathwill commented on #133
looks like it has to do with string literals, you have to explicitly call .dup on it 😭

[2018-04-16 23:08] #131 closed, assigned to nobody

[2018-04-16 23:08] #133 closed, assigned to nathwill

[2018-05-01 18:10] weevil44 opened #135 "Patch version number updated on a breaking change"
Bumping the version to 3.2.3 breaks the cookbook when using pessimistic locking and an older version of Chef

I am pinning like so
`depends 'systemd', '~> 3.2.2'`
and using Chef version 12.13

Now I get the following error:
`       [2018-05-01T17:42:54+00:00] ERROR: Cookbook 'systemd' version '3.2.3' depends on chef version [">= 12.19"], but the running chef version is 12.13.37
`

I think the vers

[2018-05-01 18:21] nathwill commented on #135
noted

[2018-05-01 18:21] #135 closed, assigned to nobody

[2018-06-01 14:51] masikmos opened #136 "timesyncd Help...."
I dont understand how i can edit file

`/etc/systemd/timesyncd.conf`

and set parameter

[code]

can you give me some example please. Thx!

[2018-06-04 15:38] nathwill commented on #136
using the [systemd_timesyncd](https://github.com/nathwill/chef-systemd#systemd_timesyncd) resource, you can configure timesyncd via drop-ins (e.g. /etc/systemd/timesyncd.conf.d/masikmos.conf).

[here's](https://github.com/nathwill/chef-systemd/blob/master/test/fixtures/cookbooks/test/recipes/daemons.rb#L24-L29) how we exercise the resource for testing, and the [resultant configuration](https://git

[2018-06-04 15:38] #136 closed, assigned to nobody

[2018-08-10 09:50] schrd opened #137 "systemd_network resource does not allow multiple addresses"
A network unit file can specify multiple static addresses for an interface. Even mixing of IPv4 and IPv6 addresses is possible. A working example would look like
[code]

If I specify a systemd_network resource such as

[code]
produces an invalid file which systemd-networkd rejects:
[code]
To me it looks like ```SystemdCookbook::Mixin::PropertyHashConversion::InstanceMethods#option_value``` is caus

[2018-08-12 00:31] nathwill commented on #137
thanks for the report @schrd :)

some variation of this comes up every once in a while and i'm still not super sure what a workable solution looks like... option_value is definitely designed to convert arrays into space-separated strings, because that's how systemd handles array-type arguments (e.g. Before=, After=, which take lists of units). for now, i think using the precursor property will let

[2018-08-13 11:50] schrd commented on #137
@nathwill what do you think about using classes to differentiate between the two ways of handling arrays? See #138

[2018-09-06 10:11] jklare commented on #137
@schrd I also ran into this issue while trying to assign multiple vlans on one interface. After playing around a little with different solutions i went for the "ruby is anarchy" one and defined it like this:

[code]
IMHO this is ugly, but still better than defining a switchcase for each possible argument to differentiate between the different styles that are accepted by systemd configs. Maybe this

[2018-10-23 13:22] joshuaswett opened #141 "unit_start_limit_interval Should be service_start_limit_interval"
As per https://lists.freedesktop.org/archives/systemd-devel/2017-July/039255.html, the StartLimitInterval property of the [Service] section was moved to the [Unit] section and renamed to StartLimitIntervalSec with Systemd version 230.

**libraries/data.rb defines both of these as a part of the Unit module, but StartLimitInterval should be in the Service module**.  As it is now, if you specify unit

[2018-10-23 17:06] #141 closed, assigned to nobody

[2019-02-04 15:50] mitchellrj opened #143 "Re-add the ability to create drop-ins for daemons"
For example, prior to 3.0.0, one could achieve a journald drop-in with:
[code]

but this doesn't appear to be possible any more with the new drop-in structure?

[2019-02-04 17:25] nathwill commented on #143
hi @mitchellrj, thanks for the inquiry. in v3.0 we got rid of the direct configuration editing for daemon configuration files, so the `systemd_journald` resource automatically creates drop-ins now

i.e. [this resource](https://github.com/nathwill/chef-systemd/blob/master/test/fixtures/cookbooks/test/recipes/daemons.rb#L2-L8) will create [this configuration](https://github.com/nathwill/chef-systemd

[2019-02-04 17:25] #143 closed, assigned to nobody

[2020-05-19 12:58] ct0br0 opened #144 "chef client 16 warnings"
Running infra client 16.1.0

[code]

[2020-06-12 02:33] ericdstein opened #145 "Journald ForwardToWall option missing from docs"
journald forward_to_wall property was removed from the README.md before version 3.0.0.

This is still an option in journald module options https://github.com/nathwill/chef-systemd/blob/3001ef2525e40e0e513fa783af84958fafa7f2a2/libraries/data.rb#L1056 and a valid option according to the journald docs https://www.freedesktop.org/software/systemd/man/journald.conf.html#ForwardToSyslog=

Wondering if r

[2021-05-05 12:59] everythings-gonna-be-alright opened #146 "Chef 17 :kind_of issue"
System Info:
     ------------
     chef_version=17.0.242
     platform=debian
     platform_version=10
     ruby=ruby 3.0.1p64 (2021-04-05 revision 0fb782ee38) [x86_64-linux]
     program_name=/usr/bin/chef-client
     executable=/opt/chef/bin/chef-client

`Chef::Exceptions::ValidationFailed: Property manager_default_limit_nofile must be one of: {:kind_of=>[String, Integer], :desired_state=>false

[2021-05-05 15:58] nathwill commented on #146
can you show the resource definition?

[2021-05-06 10:28] everythings-gonna-be-alright commented on #146
@nathwill
[code]

[2021-05-06 12:27] renchap commented on #146
This is the same issues as #144, I just submitted a PR with a fix.

[2021-05-07 15:33] #144 closed, assigned to nathwill

[2021-05-07 15:33] #146 closed, assigned to nobody

[2021-09-16 09:42] rveznaver opened #148 "Deprecation warnings for Chef Infra 18"
Hello,

I have recently upgraded my Chef client and have noticed deprecation warnings related to `unified_mode` (more info at https://docs.chef.io/deprecations_unified_mode/). Nothing major, but reporting for posterity.

Chef Infra: 17.4.38
systemd cookbook: 3.2.5

Full log:
[code]

[2021-09-16 16:23] nathwill commented on #148
thanks @rveznaver!

[2021-10-12 11:52] aisachenka commented on #148
@nathwill  Did you have a change to work on it?

[2021-10-21 06:16] stevendanna opened #149 "Supermarket ownership transfer"
Currently, @nathwill is a collaborator on this cookbook per Supermarket.

If it is OK with you, I'd love to transfer ownership completely to you. Thanks so much for all the work you've put into this cookbook.

[2021-11-02 18:04] nathwill commented on #149
Hey @stevendanna sorry for the delay I've been out on sabbatical; yes, that sounds fine.

[2021-11-02 18:04] #149 closed, assigned to nobody

[2021-11-02 18:05] nathwill commented on #148
@aisachenka not to date, i have been out on sabbatical and enjoying some outdoor time, but will try to get something started this week as i will have some more down time at home with the change in the weather :smile:

[2021-11-04 11:23] aisachenka commented on #148
@nathwill On the one hand I am sorry to hear that the weather does not allow for a holiday, on the other hand, the longer the bad weather, the better the chance that the problem will be solved :)
Thank you in advance

[2022-05-26 05:53] BhanupriyaH commented on #148
Hi @nathwill, we are also facing same deprecation warnings while upgrading from chef 16.x to 17.x.
chef - 17.0.242
systemd cookbook: 3.2.4
Is there any ETA for this fix? Any help appreciated.

Thank you in Advance.